@page "/chat"


<PageTitle>Chat</PageTitle>
<div class="h-full d-flex flex-column">
    <div class="flex-1 h-full overflow-scroll">
        <MudStack Class="pa-3" Row="true" Justify="Justify.FlexStart">
            <MudPaper Class="pa-3" width="70%">
                I apologize for the inconvenience. Let's try extracting the data again to ensure the Excel file isn't empty. I'll make sure the extracted data is correctly formatted this time.

                It seems like I can’t do more advanced data analysis right now. Please try again later.

                I apologize for the inconvenience. You can try extracting the data using other OCR tools, or I can guide you through the process manually. Let me know how you'd like to proceed!
            </MudPaper>
        </MudStack>

        <MudStack Class="pa-3" Row="true" Justify="Justify.FlexEnd">
            <MudPaper Class="pa-3 message-box" >
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.

                The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested. Sections 1.10.32 and 1.10.33 from "de Finibus Bonorum et Malorum" by Cicero are also reproduced in their exact original form, accompanied by English versions from the 1914 translation by H. Rackham.
            </MudPaper>
        </MudStack>

        <MudStack Class="pa-3" Row="true" Justify="Justify.FlexStart" width="70%">
             <MudPaper  Class="pa-3 message-box" >Item 1</MudPaper>
        </MudStack>

   
    </div>

    <div  class="border">
        asdasdasdasd
    </div>
</div>
@code {

}
